[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pylint = "*"

[packages]
luigi = "*"
twython = "*"
persist-queue = "*"
requests = "*"
apache-beam = "*"
pybossa-client = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
