body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #212F3D;
}

h1,
h2,
h3,
h4,
h5,
h6,
.biggy{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.biggy{
   font-size: 2rem;
}

header.masthead {
  position: relative;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.navbar-light .navbar-nav .active>.nav-link {
    background: #DCDCDC;
    opacity: 0.7;
}

.showcase .showcase-text {
  padding: 3rem 1.5rem 3rem 3rem;
}

.showcase .showcase-img {
  min-height: 20rem;
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar-brand a.org-header{
    font-size: 0.9rem;
  }
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar.navbar-custom.navbar-fixed-top {
  background: #f0f0f0;
}
.navbar.navbar-custom {
  padding-top: 0;
}
.navbar.navbar-custom {
  width: inherit;
  margin: 0 auto;
  padding-bottom: 0;
  box-shadow: 0 0 3px rgba(0,0,0,0.12);
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 7px rgba(0,0,0,.2);
  -moz-box-shadow: 0 2px 7px rgba(0,0,0,.2);
  -o-box-shadow: 0 2px 7px rgba(0,0,0,.2);
}

.nav-link{
  text-transform: uppercase;
}

.top-area {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 100%;
  padding-top: 10px;
}

.top-area .menu-top ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.top-area .menu-top ul li {
  display: inline-block;
  position: relative;
}

a.org-header
{
  display: block;
  padding-left: 10px;
  color: #212F3D;
  font-size: 2.5rem;
}

a.org-header:hover {
  color: initial;
  text-decoration: none;
  color: #212F3D;
}

.logo-image {
  margin-top: -20px;
}